<h1>Match Results</h1>
<div>Kills: <b data-value="kills">[X]</b></div>
<div>Shots fired: <b data-value="shots">[X]</b></div>
<div>Accuracy: <b><span data-value="accuracy">[X]</span> percent</b></div>
<div>Time alive: <b><span data-value="timeAlive">[X]</span> seconds</b></div>
<div>Top position: <b data-value="highestRanking">[X]</b></div>
<div>Hits received: <b data-value="hitsReceived">[X]</b></div>

<div style="display:flex; align-content: space-around; align-items: center; justify-content: space-around; margin-top: 20px;">
  <button class="button exit">Exit</button>
  <button class="button" id="respawn">Respawn</button>
</div>