<h1>Match Results</h1>
<div class="data" object="stats" property="kills" replaceField="X">Kills: <b>[X]</b></div>
<div class="data" object="stats" property="shots" replaceField="X">Shots fired: <b>[X]</b></div>
<div class="data"  object="stats" property="accuracy" replaceField="X">Accuracy: <b>[X] percent</b></div>
<div class="data" object="stats" property="timeAlive" replaceField="X">Time alive: <b>[X] seconds</b></div>
<div class="data" object="stats" property="HighestRanking" replaceField="X">Top position: <b>[X]</b></div>
<div class="data" object="stats" property="HitsReceived" replaceField="X">Hits received: <b>[X]</b></div>

<div style="display:flex; align-content: space-around; align-items: center; justify-content: space-around; margin-top: 20px;">
  <button class="button exit">Exit</button>
  <button class="button" id="respawn">Respawn</button>
</div>