<style>
  .fullContainer,
  .fullContainer a,
  .fullContainer ul {
    color: #272727;
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding: 0px;
  }

  a:hover {
    color: #836c00;
    text-decoration: underline;
  }

  li {
    padding-bottom: 5px;
  }

  p {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: #272727 solid 1px;
  }

  ul {
    padding-bottom: 10px;
    border-bottom: #272727 solid 1px;
  }
</style>

<div class="fullContainer">
  <h1>Settings</h1>

  <p>Work in Progress..</p>

  <div style="display:flex; align-content: space-around; align-items: center; justify-content: space-around; margin-top: 20px;">
    <button class="button exit">Exit</button>
  </div>
</div>