{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
      "no-console": 0,
      "indent": ["error", 2],
      "quotes": [
          2,
          "single"
      ]
  },
  "env": {
      "browser": true,
      "commonjs": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "Phaser": true,
    "__dirname": true
  }
}