# Runtime data
pids
*.pid
*.seed
*.pid.lock

#OS-specific fi
.DS_Store
*.db

#Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/

#Project excludes
build/

#Sublime
gosch.sublime-project
gosch.sublime-workspace