html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #000;
}

body {
  height: inherit;
  width: inherit;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-column: 1fr;
}

#overlay {
 position: fixed;
 display: none;
 width: 100%;
 height: 8%;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0,0,0,0.5);
 z-index: 2;
 cursor: pointer;
}

#text{
 position: absolute;
 top: 60%;
 left: 50%;
 font-size: 14px;
 color: white;
 transform: translate(-50%,-50%);
 -ms-transform: translate(-50%,-50%);
}
  